.container {
	background-image: url(../images/background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	height: 100vh;
	width: 100%;
}

.col-sm-1 {
	height: 10vh;
	
}

.row {
	height: 10vh;
	
}

#wormHitZone {
	height: 10vh;
}

#wormHole {
	height: 10vh;

}

.Rick {
	height: 6vh;
	width: 6vw;
	background-color: red;
	position: absolute;
}

.Morty {
	height: 6vh;
	width: 6vw;
	background-color: blue;
	position: absolute;
}

.portHitZone {
	width: 10vh;
	height: 10vh;
	position: absolute;
}