/*CSS for Game Board*/
.container {
	background-color: black;
	height: 85vh;
	width: 100%;
	margin-bottom: 0;
}

.col-sm-1 {
	/*height: 10vh;*/
	/*border: 1px solid red;*/
	
}

.row {
	height: 9vh;
	/*border: 1px solid red;*/
	
}

#wormHole {
	height: 10vh;

}

.target {
	height: 15vh;
	width: 15vw;
	background-color: yellow;
	position: absolute;
}

#gem {
	height: 10vh;
}

.Rick {
	height: 6vh;
	width: 6vw;
	background-color: red;
	position: absolute;
}

.Morty {
	height: 6vh;
	width: 6vw;
	background-color: blue;
	position: absolute;
}

.portHitZone {
	width: 15vw;
	height: 15vh;
	/*background-color: green;*/
	position: absolute;
	text-align: right;
}

/*CSS for Footer and ScoreBoard*/

footer {
	height: 20vh;
	width: 100%;
	margin-top: 0;
	background-color: black;
}

.score {
	height: 15vh;
	width: 200px;
	background-color: rgba(233, 40, 36, .25)
}

#rickScore {
	float: left;
	padding-left: 20px;
}

#mortyScore {
	float: right;
	padding-left: 20px;
}

.col-xs-2 {
	text-align: center;
}

#timeBoard {
	height: 15vh;
	width: 100%;
	background-color: red;
	text-decoration: underline;
}








