/*CSS for Landing Page*/
body {
	background-color: black;
}

.container {
	height: 100vh;
	width: 100%;
	text-align: center;
	color: white;
	position: absolute;
	z-index: -1;
}

.portalOpen {
	height: 100vh;
	width: 100%;
	background-image: url(../images/portalbackground.gif);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	z-index: -1;
	animation-name: portalOpen;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}

@keyframes portalOpen {
	0% {transform: scale(0);}
	50% {transform: scale(1);}
	100% {transform: scale(0);}
	
}

.portalContent {
	margin-top: 75px;
	animation-name: portalContent;
	animation-duration:3s;
}

@keyframes portalContent {
	0% {transform: scale(0);}
	100% {transform: scale(1);}
}

#mainLogo {
	margin-top: 20vh;
	height: 20vh;
	width: 100vw;
}

.mainOptions {
	height: 10vh;
	width: 100%;
	color: rgb(38, 251, 81);
	text-shadow: 2px 2px 5px rgb(30, 176, 200);
}

a {
	color: rgb(38, 251, 81);
}

.instrBtn:hover {
	cursor: pointer;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.75);
}

.modalCont {
	height: 50%;
	width: 50%;
	background-color: rgba(0, 0, 0, 0.85);
	border: 4px outset rgb(38, 251, 81);
	margin: 10% auto;
	padding: 4vh;
	color: rgb(38, 251, 81);
	text-align: center;
}

.controls {
	border: 1px solid rgb(38, 251, 81);
}

li {
	list-style-type: none;
}

h4 {
	border: 1px solid rgb(38, 251, 81);
}

.story {
	padding-top: 5vh;
	font-size: 2rem;
}

.closeBtn {
	float: right;
	font-size: 30px;
	color: rgb(38, 251, 81)
}

.closeBtn:hover {
	cursor: pointer;
}


